#detail-modal.modal.fade
    .modal-dialog.modal-lg
        .modal-content
          form#detail-form(role='form', action='#', method='POST')
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                 span(aria-hidden='true') &times;
                h4.modal-title Data Details
            .modal-body
                  .row
                    .col-md-12
                        .box-body 
                            .table.table-responsive
                                table.table.table-striped.table-hover
                                    thead
                                        tr
                                            th 
                                                a(href='#') Id
                                            th 
                                                a(href='#') User Id
                                            th 
                                                a(href='#') User URL
                                            th 
                                                a(href='#') Timeline URL
                                            th 
                                                a(href='#') Data Created
                                            th 
                                                a(href='#') Data Updated
                                    tbody#detail-information
            .modal-footer
                div.pull-left
                    button.btn.btn-default(type='button', data-dismiss='modal')
                        span.fa.fa-times-circle
                        |  &nbsp;Cancel